html {
    background-color: rgb(240,240,240);
    background-size: repeat;
}
.block-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 2em;
    font-weight: bold;
}
.navbar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(100,100,100);
    width: 100%;
    height: 4em;
    overflow: hidden;
}
#logo {
    width: 4em;
    padding: 0.3em;
}
#logo-wrapper {
    display: flex;
    align-items: center;
}
.navbar-item-link, .navbar-item {
    width: fit-content;
    text-decoration: none;
    color: white;
    padding: 0.9em 0.4em;
    font-size: 1.2em;
}
.navbar-item-link {
    text-align: right;
}
.navbar-item-link:hover {
    cursor: pointer;
    background-color: rgba(150,150,150,0.5);
}
.nav-start, .nav-end {
    display: inline-flex;
    align-items: center;
    margin: 0;
}
.form-error-msg {
    background-color: rgb(255, 220,220);
    border: 1px solid rgb(140,30,30);
    color: rgb(140,30,30);
    padding: 0.5em;
    border-radius: 0.5em;
    width: 100%;
}

.modal-content {
    width: 30em;
}
.form-field-reqs {
    position: relative;
    font-size: 0.7em;
    color: rgb(100,100,100);
    top: -1em;
}
.ffr-li {
    position: relative;
    font-size: 0.7em;
    color: rgb(100,100,100);
    top: -1em;
    list-style-type: none;
}
.errorlist li{
    list-style: none;
    color: red;
    background-color: rgb(255, 220,220);
    border: 1px solid rgb(140,30,30);
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 0.7em;
    margin: 0;
    position: relative;
    left: -2.7em;
    width: 107%;
}
.listings {
    min-width: 40em;
    display: flex;
    flex-direction: column;
}
.listing {
    display: grid;
    grid-template-columns: 50% 30% 20%;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgb(100,100,100);
    background-color: white;
    margin: 0.4em 0;
    width: 100%;
}
.small-text {
    font-size: 0.6em;
    color: green;
}
.medium-text {
    font-size: 1.1em;
}
.name_coverage {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}
#post_premium{
    text-align: right;
    padding-right: 1em;
    grid-column: 3;
}
#current_bids {
    color: red;
    text-align: right;
}
.contact_details {
    box-shadow: 0 5px 15px rgb(100,100,100);
    background-color: white;
    border-radius: 5px;
    grid-column: 2;
}
table {
    border-collapse: collapse;
    border-style: hidden;
}
table p {
    font-size: 0.8rem;
    font-weight: normal;
    padding: 0 0.5rem;
}
table td {
    border: 1px solid rgb(230,230,230);
}
table td:nth-child(1) {
    text-align: right;
    width: 7rem;
}
table td:nth-child(1) p {
    font-weight: bold;
    font-size: 0.8em;
}
table td:nth-child(2) {
    width: 10rem;
}
.asterisk {
    color: rgb(200,0,0);
}
@keyframes pulse {
    0% {transform: scale(1)}
    50% {transform: scale(1.4)}
    100% {transform: scale(1)}
}
.warning {
    font-size: 2em;
    font-weight: bold;
    color: red;
    animation: pulse 1s infinite;
}
.user_profile_page {
    display: grid;
    grid-template-columns: 10% minmax(15em,15em) minmax(35em,60em) 10%;
    margin-top: 2em;
}
.user_profile_page img {
    width: 100%;
    border-radius: 5px;
}
#user_profile_posts {
    box-shadow: 0 5px 15px rgb(100,100,100);
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 2em;
    height: fit-content;
    width: 100%;
}
.button.small {
    background-color: rgb(200,200,200);
    height: 1em;
    grid-column: 2;
    width: 100%;
    border: 1px solid rgb(100,100,100);
}
.button.small a {
    color: black;
    font-size: 0.7rem;
}
.button.small:hover {
    background-color: rgb(130,130,130);
}
.profile_listings {
    background-color: white;
    box-shadow: 0 5px 15px rgb(100,100,100);
    border-radius: 5px;
    margin: 0.6em 0;
    text-align: center;

}
.column3_wrapper {
    grid-column: 3;
    margin: 0 0.6em;
}
#update_warning {
    grid-column: 2;
}
.post_details {
    box-shadow: 0 5px 15px rgb(100,100,100);
    background-color: white;
    border-radius: 5px;
    margin: 0 0.7em 0.7em 0.7em;
}
#details_table td:nth-child(1) p {
    font-weight: bold;
    font-size: 0.9em;
}
#signup_note {
    color: red;
}
.bid_details {
    width: 75%;
}
hr {
    background-color: black;
    width: 100%;
    height: 1px;
}
#bid_create {
    width: 75%;
}
.profile_bid_details {
    margin: 1em;
    border: 1px solid red;
    background-color: white;
    border: 5px;
    box-shadow: 0 5px 15px rgb(100,100,100);
    padding: 0.5em;
}
#homepage-container {
    width: 50em;
}
.homepage_leftalign {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 1em;
    height: 20em;
    overflow: hidden;
    box-shadow: 0 5px 15px rgb(100,100,100);
    border-radius: 10px;
}
.homepage_rightalign {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 1em;
    overflow: hidden;
    height: 20em;
    box-shadow: 0 5px 15px rgb(100,100,100);
    border-radius: 10px;
}
.homepage_leftalign img {
    grid-column: 1;
    height: 100%;
}
.homepage_leftalign p {
    position: relative;
    top: -10px;
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0.5em;
}
.homepage_leftalign h1 {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    display: flex;
    align-items: center;
}
.homepage_rightalign img {
    grid-column: 2;
}
.homepage_rightalign p {
    position: relative;
    top: -10px;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 1.3vh;
    padding: 0.5em;
}
.homepage-left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

